backend: tpu
base_model: Qwen/Qwen2.5-1.5B
output_dir: runs/sid_sft_jax_qwen25_1p5b_base_industrial_v6e8_full_muon_lr3e4_last_eval_dp8_bs8
seed: 42
device: tpu

jax:
  mesh_shape: "8,1,1"
  param_dtype: bfloat16
  compute_dtype: bfloat16
  max_cache_length: 512

data:
  category: Industrial_and_Scientific
  train_file: workdir/MiniOneRec/data/Amazon/train/Industrial_and_Scientific_5_2016-10-2018-11.csv
  eval_file: workdir/MiniOneRec/data/Amazon/valid/Industrial_and_Scientific_5_2016-10-2018-11.csv
  test_file: workdir/MiniOneRec/data/Amazon/test/Industrial_and_Scientific_5_2016-10-2018-11.csv
  info_file: workdir/MiniOneRec/data/Amazon/info/Industrial_and_Scientific_5_2016-10-2018-11.txt
  sid_index_path: workdir/MiniOneRec/data/Amazon/index/Industrial_and_Scientific.index.json
  item_meta_path: workdir/MiniOneRec/data/Amazon/index/Industrial_and_Scientific.item.json
  max_len: 512
  sample_train: -1
  sample_eval: -1
  sample_test: -1

tasks:
  sid_next_item: true
  sid_item_alignment: true
  fusion_seq_rec: true

train:
  resume_from_checkpoint: runs/sid_sft_jax_qwen25_1p5b_base_industrial_v6e8_full_muon_lr3e4_train/sft_state_last.msgpack

eval:
  enabled: true
  batch_size: 8
  num_beams: 50
  max_new_tokens: 32
  length_penalty: 0.0
  topk: [1, 3, 5, 10, 20, 50]
  constrained: true
  save_predictions_json: true

wandb:
  project: minionerec-sid-sft
  mode: online
  name: null

